# LLM translation API config
OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=your-api-key-here
# TRANSLATE_OPENAI_MODEL=gpt-4o-mini

# 翻译超时时间，单位毫秒
TRANSLATE_TIMEOUT_MS=300000
# 分段翻译最大字符数. 默认 8000
TRANSLATE_MAX_CHUNK_SIZE=8000
# 是否严格按照 TRANSLATE_MAX_CHUNK_SIZE 分段。默认为 true
TRANSLATE_MAX_CHUNK_SIZE_STRICT=true
